body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  min-height: 100vh; /* Ensure the app takes up at least the full height of the viewport */
}

.content {
  flex: 1;
}

.navbar {
  background-color: #4c53af;
  padding: 15px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center; /* Center content vertically */
}

.navbar input {
  padding: 8px;
  width: 300px;
  margin-left: auto; /* Push the input to the right */
}

/* style for side bar  so that it is displayed till the  bottom of the page*/

.sidebar {
  background-color: #4c53af;
  color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message-row {
  margin-bottom: 10px;
}

.user-message {
  align-self: flex-end;
}

.user-message-content {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
}

.other-user-message {
  align-self: flex-start;
}

.other-user-message-content {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 10px;
  padding: 8px;
}

.message-text {
  font-size: 16px;
}

.message-sender {
  font-size: 12px;
  margin-top: 4px;
}

.online-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px; /* Adjust this value to add space between the name and the indicator */
}
.message-input {
  display: flex;
  padding: 5px;
}
.message-input input {
  margin-right: 10px; /* Add margin to the right of the input box */
}
