body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  min-height: 100vh; /* Ensure the app takes up at least the full height of the viewport */
}

.content {
  flex: 1;
}

.navbar {
  background-color: #4c53af;
  padding: 15px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center; /* Center content vertically */
}

.navbar input {
  padding: 8px;
  width: 300px;
  margin-left: auto; /* Push the input to the right */
}

/* style for side bar  so that it is displayed till the  bottom of the page*/

.sidebar {
  background-color: #4c53af;
  color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


